  
* {
	margin: 0;
	padding: 0;
	text-decoration: none;
	list-style:none;
		
}
body {
	max-width: 1084px;
	margin: 0 auto;
	overflow-x: visible;
	height: calc(130vh - 100px);
}
html {
	scroll-behavior: smooth;
}
@font-face {
	font-family: caps;
	src: url(../fonts/panton.ttf);
}
a,h1,h2,h3,p{
	font-family: caps;
	
}
header{
	width: 1084px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 80px;
	position: relative;
	z-index: 5;
	

}
.burger-menu {
	display: none;
}
.close {
	display: none;
}
.header-list {
	width: 400px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	
}

.info-list {
	padding-left: 18px;
	font-size: 14px;
	color: #181818;
	font-family: caps;


}

nav	{
	width: 100%;
	display: flex;
	justify-content: flex-end;
}
.info-list-book {
		background-image: linear-gradient(to bottom, #6ab04c, #badc58);
	color: #FFF;
	border: 1px solid  #badc58;
		font-size: 14px;
	color: #181818;
	font-family: caps;
	width: 100px;
	height: 40px;
	display: block;
	text-align: center;
	line-height: 40px;
	border-radius: 20px;
	z-index: 2;

}
.info-list:hover {
		color: #6AB04C;
	transition: color 300ms ease;
}
.info-list-book:hover {
	background-image: linear-gradient(to bottom, #6ab04c, #badc58);
	color: #FFF;
}
.hero-image {
	position: relative;
	left: 180px;
	bottom: 60px;
}

.tesla-h1 {
font-size: 30px;
 color: black;
 position: relative;
 top: 100px;
 left: 95px;


}
.tesla-p {
font-size: 14px;
color: #fff;
position: relative;
top: 70px;
left: 100px;
}



}



.hero-content {
	height: calc(100vh - 60px);
   width: 100%;
   display: block;
   align-items: center;
justify-content: space-between; 
}

.hero::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #e8f0f3;
	z-index: -2;
	height: 768px;
	}

.hero::after {
	content:'nodmotors';
	position: absolute;
	top: 200px;
	display:block;
	width: 1100px;
    height: 302px;
    z-index: -1;
    font-size: 250px;
    font-family: caps;
    color: #FFF;
    text-shadow: 0 3px 6px 
     rgba(24, 24, 24, 0.06);
    opacity: 0.3;

}
.specifications {
	
	width: 600px;
	margin: 0 auto;
	display: flex;
	font-family: caps;
	position: relative;
	left:70px;
	bottom: 75px;
	justify-content: space-between;

}


.spec {
	font-size: 14px;
	color: #6AB04C;
}
.li-spec {
	font-size: 32px;
	font-weight: bold;
	color: black;
}

.arrowdown {
	position: relative;
	bottom: 18px;
	right: 50px;
	cursor: pointer;
	padding-left: 50px;

}
#cars {
	padding-top: 100px;

}

.cars-h1 {
	font-size: 32px;
	font-weight: bold;
}
.cars-p {
	font-size: 10px;
	font-weight: normal;
	color: #95A5A6;
}
form {
	display: flex;
	padding-top: 27px;
	width: 100%;
	justify-content: space-between;

	
}
.selector {
	text-align-last: center;
   -moz-text-align-last: center;
   -webkit-appearance: none;
	-moz-appearance: none;
	-ms-appearance: none;
	 -o-appearance: none;
	appearance: none;
	height: 40px;	
	width: 164px;
	border: 1px solid #FFF;
	border-radius: 30px;
	box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
	display: flex;
	font-family: caps;
	font-size: 14px;

}

.selectors {
		display: flex;
	padding-top: 27px;
	width: 60%;
	justify-content: space-between;

}

.selector:hover {
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	transition: 0.5s;
	background-image: linear-gradient(to bottom, #6ab04c, #badc58);
	color: #181818;
	transition:0.5s;
}

.amount {

	transition: 0.5s;
	position: relative;
	right: -350px;
	width: 72px;
 	height: 40px;
 	border: 1px solid #FFF;
	border-radius: 30px;
	box-shadow: 0 3px 6px 0 rgba(24, 24, 24, 0.06);
	align-content: flex-end;
	font-family: caps;
	font-size: 14px;
	color: #181818;
		text-align-last: center;
   -moz-text-align-last: center;
   -webkit-appearance: none;



	

}

.amount:hover {
	background-image: linear-gradient(to bottom, #6ab04c, #badc58);
	color: #181818;
	border-bottom-right-radius: 0px;
	border-bottom-left-radius: 0px;
	transition: 0.5s;

  	
}
#dropdown { /*container for custom dropdown arrow*/
  -webkit-appearance: none;
  -moz-appearance: window;
  padding: 2px 50px 2px 2px;
  border: none;
  background-image: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
 background-repeat: no-repeat;
 background-position: 120px;
}
#dropdown1 { /*container for custom dropdown arrow*/
  -webkit-appearance: none;
  -moz-appearance: window;
  padding: 2px 50px 2px 2px;
  border: none;
  background-image: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
 background-repeat: no-repeat;
 background-position: 30px;
}
.car-list {
	width: 100%;
	margin-top:  100px;
	display: flex;
	flex-wrap:  wrap ;
	justify-content: space-around;
	text-align: center;
}
.car-list li {
	padding-bottom:100px;
	position: relative;
}
.carlist3 {
width: 348px;
}
.left {
	color: #707070;
}
.price {
	color: #6AB04C;
}

.list-p {
	display: flex;
	justify-content: flex-end;
margin-right: 60px;
}
.mobile-container {
	display: none;
}

.colors {
    display:flex; 
    justify-content: center;
    margin-top: 20px;
    
  }
.white, .black, .red, .orange, .silver, .olive, .gold, .blue {
    width: 12px;
    height: 12px;
    border-radius: 20px;
    margin: 0 4px; 
    border: 1px solid #95A5A6;

}
.white {
	background-color: white;
}
.black {
	background-color: black;
}
.red {
	background-color: #AA071E;

}
.orange {
	background-color: #FF9331;

}
.silver {
	background-color: #95A5A6;
}
.olive {
	background-color: #6AB04C;
}
.gold {
	background-color: #D1BB3F;
}
.blue {
	background-color: #2F6AA2;
}
h3 {
	font-size: 20px;
	font-weight: bold;
	padding-top: 15px;
}
.specs {
	font-size: 10px;
	font-weight: normal;
	color: #707070;
	word-spacing: 15px;
}
footer {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: relative;
	width: 100%;
	height: 2.5em;
}
.nodmotors {
	color: #95A5A6;
	padding-left: 130px;

}
.telnum {
	color: #95A5A6;
	padding-right: 15px;
}
.mail{
color: #95A5A6;

}
.contacts {
	border: 1px solid red;
	width: 100px;
	height: 50px;
}

.tesla-h1::after {
content: url('../images/Pointer.png');
position: relative;
z-index: 1;
top: 230px;
left: 90px;
}

.tesla-h1::before {
	content: url('../images/Pointer.png');
	z-index: 1;
	position: relative;
	top: 120px;
	left: 560px;
}
.tesla-p::before {
	content: url('../images/Pointer.png');
	position: relative;
	z-index: 1;
	top: 110px;
	left: 750px;
}
.tesla-p::after{
	content: url('../images/InfoPadge.png');
	z-index: 1;
	position: absolute;
	top: 225px;
	left: 335px;
}


/*booking-form*/
.name {
	background-color: #E8F0F3;
	width: 216px;
	height: 30px;
	border-radius: 15px;
	border: 0;
	margin-bottom: 15px;
}
.phone {
	background-color: #E8F0F3;
		width: 216px;
	height: 30px;
	border-radius: 15px;
	border: 0;
	margin-bottom: 15px;
}
.email {
	background-color: #E8F0F3;
	width: 216px;
	height: 30px;
	border-radius: 15px;
	border: 0;
	margin-bottom: 15px;
}
.message {
	background-color: #E8F0F3;
		width: 216px;
	height: 30px;
	border-radius: 15px;
	border: 0;
	padding-bottom: 30px;

}
.send {
	width: 216px;
	height: 30px;
	margin-top: 15px;
	border-radius: 15px;
	border: 0;
	background-image: linear-gradient(to bottom, #6ab04c, #badc58);
}
.booking-content {
position: fixed;
	bottom: 400px; 
margin: 0 auto;
z-index: 2;

}
.booking-content::before {
	content: '';
	position: absolute;
	width:1566px;
	height: 180vh;
	left: -220px;
	top: -340px;
	z-index: 0;
	background-color: white;

	opacity: 0.8;
}

.booking-h1 {

padding-left: 80px;
	font-size: 30px;
	

}
.booking-p{
	width: 280px;
	height: 35px;
	font-size: 14px;
	font-weight: bold;
	color: #95A5A6;
	display: flex;
	text-align: center;
}
.booking-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	position: absolute;
left: 400px;
bottom: 100px; 
}

.booking-input {
	display: flex;
	position: absolute;
	top: -100px;
	left: 435px;
	align-content: center;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;

}


.booking-input.mystyle {
	font-size: 16px;
	margin-top: 150px;
	margin-left: 25px;
	width: 166px;
	height: 57px;
	display: flex;
	text-align: center;
}
.image {
	left: 115px;
	top: 160px;
	position: absolute;
	width: 52px;
	height: 52px;

}



@media only screen and (max-width: 680px) {

	header {
		width: 300px;
	}
	body {
		max-width:320px;
		overflow-x: hidden;
	}
	nav	{
		display: none;
	}
	.hero {

		height: calc(100vh - 80px);
	}
	.close {
		display: block;
	}
	.hero::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #e8f0f3;
	z-index: -2;
	height: 768px;
	width: 410px;
	}
	.mobile-container {
	display: block;
}


	.hero::after {
	content:'nodmotors';
	position: absolute;
	top: 280px;
	display:block;
	width: 400px;
    height: 302px;
    z-index: -1;
    font-size: 68px;
    font-family: caps;
    color: #FFF;
    text-shadow: 0 3px 6px 
     rgba(24, 24, 24, 0.06);
    opacity: 0.3;

}
	.hero-image {
		width: 450px;
		height: 240px;
		position: relative;
	left: -55px;
	top: 40px;

	}
	.tesla-h1 {
		position: relative;
		top: 100px;
		left: 0px;
	}
	.tesla-p {
		position: relative;
		left: 20px;
	}
	.specifications {
		width: 280px;
		height: 33px;
		display: flex;
	position: relative;
	left: 0;
	top: 50px;
		display: flex;
		justify-content: space-between;
		

	}
	
	.spec {
		font-size: 10px;
	}
	.li-spec {
		font-size: 18px;
	}
	.arrowdown {
		position: relative; 
		top: 102px;
	}
.selectors{
	position: relative;
	left: 30px;
	display: flex;
	flex-direction: column;
margin: 0 auto;

}
.arrowdown {
	position: relative;
	left: 0px;
}
.selector {
	margin-top: 15px;
}
.amount {
	position: relative;
	left: 0px;
	width: 166px;
	margin-top: 15px;
}
#dropdown1 { /*container for custom dropdown arrow*/
  -webkit-appearance: none;
  -moz-appearance: window;
  padding: 2px 50px 2px 2px;
  border: none;
  background-image: url("https://cdn1.iconfinder.com/data/icons/cc_mono_icon_set/blacks/16x16/br_down.png");
 background-repeat: no-repeat;
 background-position: 100px;
}
.car-list li {
	overflow-x: hidden;
}
.car-list {
	margin-left: 10px;
}
footer {
	position: relative;
	bottom: 150px;
	display: block;
	width: 300px;
	height: 300px;
	
}
.academy-logo {
	position: relative;
	bottom: -250px;
	left: 110px;

}
.cars-h1 {

	display: flex;
	margin-left: 80px;
}
.cars-p {
	margin-left: 100px;
}
.nodmotors {
	font-size: 12px;
	width: 117px;
	height: 14px;
	position: relative;
	bottom: -160px;
	left: -10px;
}
.telnum {
	font-size: 12px;
	position: relative;
	top: 80px;
	left: 60px;
}
.mail {
	font-size: 12px;
	position: relative;
	top: 78px;
	left: 60px;

}
.hero::before {
	content: '';
	display: block;
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background-color: #e8f0f3;
	z-index: -2;
	height: 600px;
	}
	.tesla-h1::after {
content: url('../images/gallery/Pointer.png');
position: relative;
z-index: 1;
top: 120px;
left: 80px;
}

.tesla-h1::before {
	content: url('../images/gallery/Pointer.png');
	z-index: 1;
	position: relative;
	top: 115px;
	left: 190px;
}
.tesla-p::before {
	content: url('../images/gallery/Pointer.png');
	position: relative;
	width: 100px;
	height: 100px;
	z-index: 1;
	top: 140px;
	left: 45px;
}
.tesla-p::after{
	content: url('../images/gallery/InfoPadge.png');
	z-index: 1;
	position: relative;
	top: 170px;
	left: -45px;
}
.specifications::before {
	content: 'new technology wheels for winter';
	font-size: 12px;
	color: #95A5A6;
	position: absolute;
	bottom: 75px;
	left: 30px;
}


/*burger*/





.booking-content {
position: fixed;
bottom: 500px; 
left: 20px;
margin: 0 auto;
z-index: 5;

}
.booking-content::before {
	content: '';
	position: absolute;
	width:450px;
	height: 180vh;
	left: -40px;
	top: -600px;
	z-index: -2;
	background-color: white;
	opacity: 0.8;
}


.booking-p{
	width: 280px;
	height: 35px;
	font-size: 14px;
	font-weight: bold;
	color: #95A5A6;
	display: flex;
	text-align: center;
}
.booking-form {
	display: flex;
	justify-content: center;
	flex-direction: column;
	text-align: center;
	position: absolute;
left: 0;



}

.booking-input {
	display: flex;
	position: absolute;
	top: -90px;
	left: 30px;
	align-content: center;
	flex-direction: column;
	justify-content: space-between;
	z-index: 2;

}


.booking-input.mystyle {
	font-size: 16px;
	margin-top: 150px;
	margin-left: 25px;
	width: 166px;
	height: 57px;
	display: flex;
	text-align: center;
}
.image {
	left: 115px;
	top: 160px;
	position: absolute;
	width: 52px;
	height: 52px;

}


#myLinks {
  display: none;
  position: relative;
  width: 400px;
  height: 200px;
  right: 190px;
  top: 0px;
 display: block;
 text-align: center;
 justify-content: center;


}
.info-list {
	padding-bottom: 30px;
}
#myLinks::before {
	content: '';
	position: absolute;
	width: 510px;
	height: 800px;
	background-color: white;
	z-index: -2;
	left: 0;
bottom: -250px;
	opacity: 0.8;

}

.mobile-container {
	width: 150px;
	height: 0px;
}

.topnav.open {
	position: absolute;


}
.topnav {
	position: relative;
	bottom: 70px;
}

.active {
	display: none;
  background-color: #4CAF50;
  color: white;
}
.info-list-book {
	position: relative;	
	left: 157px;
}
.close {
	font-size: 30px;
	font-weight: bold;
	color: black;
	position: absolute;
	bottom: 350px;
	left: 220px;
}

#nav-icon2 {
z-index: 5;
  width: 60px;
  height: 20px;
  position: relative;
  left: 60px;
  margin: 50px auto;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .5s ease-in-out;
  -moz-transition: .5s ease-in-out;
  -o-transition: .5s ease-in-out;
  transition: .5s ease-in-out;
  cursor: pointer;
}


#nav-icon2 span {
  display: block;
  position: absolute;
  height: 9px;
  width: 50%;
  background: black;
  opacity: 1;
  -webkit-transform: rotate(0deg);
  -moz-transform: rotate(0deg);
  -o-transform: rotate(0deg);
  transform: rotate(0deg);
  -webkit-transition: .25s ease-in-out;
  -moz-transition: .25s ease-in-out;
  -o-transition: .25s ease-in-out;
  transition: .25s ease-in-out;
}

#nav-icon2 span:nth-child(even) {
  left: 50%;
  border-radius: 0 9px 9px 0;
}

#nav-icon2 span:nth-child(odd) {
  left:0px;
  border-radius: 9px 0 0 9px;
}

#nav-icon2 span:nth-child(1), #nav-icon2 span:nth-child(2) {
  top: 0px;
}

#nav-icon2 span:nth-child(3), #nav-icon2 span:nth-child(4) {
  top: 18px;
}

#nav-icon2 span:nth-child(5), #nav-icon2 span:nth-child(6) {
  top: 36px;
}

#nav-icon2.open span:nth-child(1),#nav-icon2.open span:nth-child(6) {
  -webkit-transform: rotate(45deg);
  -moz-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
}

#nav-icon2.open span:nth-child(2),#nav-icon2.open span:nth-child(5) {
  -webkit-transform: rotate(-45deg);
  -moz-transform: rotate(-45deg);
  -o-transform: rotate(-45deg);
  transform: rotate(-45deg);
}

#nav-icon2.open span:nth-child(1) {
  left: 5px;
  top: 7px;
}

#nav-icon2.open span:nth-child(2) {
  left: calc(50% - 5px);
  top: 7px;
}

#nav-icon2.open span:nth-child(3) {
  left: -50%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(4) {
  left: 100%;
  opacity: 0;
}

#nav-icon2.open span:nth-child(5) {
  left: 5px;
  top: 29px;
}

#nav-icon2.open span:nth-child(6) {
  left: calc(50% - 5px);
  top: 29px;
}
}


